
body { background-image: url("../images/whitemarble.jpg");
       background-color: #ffffff;
       margin: 0;}
h1, h2 {color: #4aaaa5;
       font-family: 'Georgia', Times, 'Times New Roman', serif;}
p {color: #777777;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;}
  /* How to align header to centre of page? */
  .header1 {background-color: #ffffff;
        display: inline-block;
        width: 100%; 
        text-align: left;
        border-style: outset;
        border-width: small;
        border-color: #cccccc;
        margin: 0;}
  .Container {background-color: #ffffff;
        margin: 0 auto;
        padding: 7px;
        width: 45%; 
        text-align: center;
        border-style: outset;
        border-width: medium;
        border-color: #cccccc}
  .Nav { position: absolute;
         top: 18px;
         right: 10px;
         padding: 7px;
         text-align: right;  /* how to be more specific */
         margin-top: 100px;
         margin-bottom: 150px;
         margin: 0 auto;
         font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
         font-size: medium;
         font-size: medium;
         line-height: 30px;
         }
  .links { color: black;
            

  }
   

  



/* Extra stuff */
.HeadBorder{color : #cccccc}
.FooterBG{color : #ffffff}
.MainBorder{color : #dddddd}
/* Fonts */
.Heading{font-family: 'Georgia', Times, 'Times New Roman', serif;}
.OtherFont{font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;}

